      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.openvpn.loadbalancer.server.scheme=http"
      - "traefik.http.services.openvpn.loadbalancer.server.port=0"
      - "traefik.http.routers.openvpn-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.openvpn-http.entrypoints=http"
{% if not openvpn.https_only %}
      - "traefik.http.routers.openvpn-http.middlewares={% if openvpn.https_only %}redirect@file, {% else %}{% if openvpn.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.openvpn-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.openvpn.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.openvpn.entrypoints=https"
      - "traefik.http.routers.openvpn.middlewares={% if openvpn.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.openvpn.tls=true"
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.openvpn.loadbalancer.server.scheme=http"
      - "traefik.http.services.openvpn.loadbalancer.server.port=0"
      - "traefik.http.routers.openvpn-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.openvpn-http.entrypoints=http"
{% if not openvpn.https_only %}
      - "traefik.http.routers.openvpn-http.middlewares={% if openvpn.https_only %}redirect@file, {% else %}{% if openvpn.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.openvpn-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.openvpn.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.openvpn.entrypoints=https"
      - "traefik.http.routers.openvpn.middlewares={% if openvpn.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.openvpn.tls=true"
---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # VPN Access
  openvpn:
    cap_add:
      - NET_ADMIN
    image: kylemanna/openvpn
    ports:
      - "1194:1194/udp"
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/openvpn:/etc/openvpn"
