APP_NAME="Pixelfed"
APP_ENV=production
APP_KEY={{ lookup('password', './settings/passwords/pixelfed_app_key chars=digits length=32') }}
APP_DEBUG=false

APP_URL=https://pixelfed.{{ domain }}
APP_DOMAIN=pixelfed.{{ domain }}
ADMIN_DOMAIN=pixelfed.{{ domain }}
SESSION_DOMAIN=pixelfed.{{ domain }}
SESSION_SECURE_COOKIE=false
TRUST_PROXIES="*"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pixelfed
DB_USERNAME=pixelfed
DB_PASSWORD={{ lookup('password', './settings/passwords/pixelfed_db_password chars=digits length=15') }}

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD={{ lookup('password', './settings/passwords/pixelfed_redis_password chars=digits length=15') }}
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST={{ smtp.host }}
MAIL_PORT={{ smtp.port }}
MAIL_USERNAME={{ smtp.user }}
MAIL_PASSWORD={{ smtp.pass }}
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS={{ smtp.from_email }}
MAIL_FROM_NAME={{ smtp.from_name }}

OPEN_REGISTRATION=true
ENFORCE_EMAIL_VERIFICATION=false
PF_MAX_USERS=20

MAX_PHOTO_SIZE=15000
MAX_CAPTION_LENGTH=150
MAX_ALBUM_LENGTH=4

ACTIVITY_PUB=false
REMOTE_FOLLOW=false
ACTIVITYPUB_INBOX=false
ACTIVITYPUB_SHAREDINBOX=false
# Set these "true" to enable federation.
# You might need to also run:
#   php artisan cache:clear
#   php artisan optimize:clear
#   php artisan optimize

PF_COSTAR_enable=true
CS_BLOCKED_DOMAINS='gab.com,gab.ai,develop.gab.com'
CS_CW_DOMAINS='switter.at'
CS_UNLISTED_DOMAINS='example.org,example.net,example.com'

# Optional
HORIZON_DARKMODE=false  # Horizon theme darkmode
HORIZON_EMBED=false  # Single Docker Container mode
