---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Graphing
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/grafana/data/:/var/lib/grafana/"
      - "{{ volumes_root }}/grafana/dashboards/:/etc/grafana/provisioning/dashboards/"
      - "{{ volumes_root }}/grafana/datasources/:/etc/grafana/provisioning/datasources/"
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,petrslavotinek-carpetplot-panel,vonage-status-panel,raintank-worldping-app
{% if smtp.host %}
      - GF_SMTP_enable=true
      - GF_SMTP_HOST={{ smtp.host }}:{{ smtp.port }}
      - GF_SMTP_USER={{ smtp.user }}
      - GF_SMTP_PASSWORD={{ smtp.pass }}
      - GF_SMTP_FROM_ADDRESS={{ smtp.from_email }}
      - GF_SMTP_FROM_NAME={{ smtp.from_name }}
{% endif %}
      - GF_SECURITY_ADMIN_USER={{ default_username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.grafana.loadbalancer.server.scheme=http"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.http.routers.grafana-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.grafana-http.entrypoints=http"
{% if not grafana.https_only %}
      - "traefik.http.routers.grafana-http.middlewares={% if grafana.https_only %}redirect@file, {% else %}{% if grafana.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.grafana-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.grafana.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.middlewares={% if grafana.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.grafana.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.grafana.tls.certresolver=dns"
      - "traefik.http.routers.grafana.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.grafana.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.grafana.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.grafana-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.grafana-tor-http.entrypoints=http"
      - "traefik.http.routers.grafana-tor-http.middlewares={% if grafana.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
