---

version: '3.1'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:

  ghost:
    image: ghost:3-alpine
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      url: "https://{% if ghost.domain %}{{ ghost.domain }}{% else %}{{ ghost.subdomain + "." + domain }}{% endif %}"
{% if smtp.user %}
      mail__transport: SMTP
      mail__from: "'Blog {{ domain }}' <{{ smtp.from_email }}>"
      mail__options__host: {{ smtp.host }}
      mail__options__port: {{ smtp.port }}
      mail__options__secureConnection: "true"
      mail__options__auth__user: {{ smtp.user }}
      mail__options__auth__pass: {{ smtp.pass }}
{% endif %}
    volumes:
      - "{{ volumes_root }}/ghost/content:/var/lib/ghost/content"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.ghost.loadbalancer.server.scheme=http"
      - "traefik.http.services.ghost.loadbalancer.server.port=2368"
      - "traefik.http.routers.ghost-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ghost-http.entrypoints=http"
{% if not ghost.https_only %}
      - "traefik.http.routers.ghost-http.middlewares={% if ghost.https_only %}redirect@file, {% else %}{% if ghost.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.ghost-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.ghost.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ghost.entrypoints=https"
      - "traefik.http.routers.ghost.middlewares={% if ghost.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.ghost.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.ghost.tls.certresolver=dns"
      - "traefik.http.routers.ghost.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.ghost.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.ghost.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.ghost-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.ghost-tor-http.entrypoints=http"
      - "traefik.http.routers.ghost-tor-http.middlewares={% if ghost.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
