---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: factoriotools/factorio
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/factorio:/factorio"
    ports:
      - 34197:34197
      - 27015:27015
    labels:
          - "traefik.enable=true"
          - "traefik.docker.network=homelabos_traefik"
          - "traefik.http.services.factorio.loadbalancer.server.scheme=http"
          - "traefik.http.services.factorio.loadbalancer.server.port=0"
          - "traefik.http.routers.factorio-http.rule=Host(`{{ service_domain }}`)"
          - "traefik.http.routers.factorio-http.entrypoints=http"
    {% if not factorio.https_only %}
          - "traefik.http.routers.factorio-http.middlewares={% if factorio.https_only %}redirect@file, {% else %}{% if factorio.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
    {% else %}
          - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
          - "traefik.http.routers.factorio-http.middlewares=redirect-to-https"
    {% endif %}
          - "traefik.http.routers.factorio.rule=Host(`{{ service_domain }}`)"
          - "traefik.http.routers.factorio.entrypoints=https"
          - "traefik.http.routers.factorio.middlewares={% if factorio.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
          - "traefik.http.routers.factorio.tls=true"
