---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: johnktims/folding-at-home
    command: --web-allow=0/0:7396 --allow=0/0:7396 --user={{ folding_at_home.username}} --team={{ folding_at_home.team }}  --power={{ folding_at_home.power }}
    restart: unless-stopped
    ports:
      - 7396:7396
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.folding_at_home.loadbalancer.server.scheme=http"
      - "traefik.http.services.folding_at_home.loadbalancer.server.port=7396"
      - "traefik.http.routers.folding_at_home-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.folding_at_home-http.entrypoints=http"
{% if not folding_at_home.https_only %}
      - "traefik.http.routers.folding_at_home-http.middlewares={% if folding_at_home.https_only %}redirect@file, {% else %}{% if folding_at_home.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.folding_at_home-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.folding_at_home.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.folding_at_home.entrypoints=https"
      - "traefik.http.routers.folding_at_home.middlewares={% if folding_at_home.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.folding_at_home.tls=true"
