---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: funkwhale/all-in-one:latest
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - PUID={{uid_output.stdout }}
      - PGID={{gid_output.stdout }}
      - FUNKWHALE_HOSTNAME={% if funkwhale.domain %}{{ funkwhale.domain }}{% else %}{{ funkwhale.subdomain + "." + domain }}{% endif %}
      - FUNKWHALE_PROTOCOL=https
      - MEDIA_ROOT=/srv/funkwhale/data/media
      - DJANGO_SETTINGS_MODULE=config.settings.production
      - DJANGO_SECRET_KEY={{lookup('password', './settings/passwords/package_name_db_password chars=ascii_letters length=128')}}
      - FUNKWHALE_FRONTEND_PATH=/srv/funkwhale/front/dist
    volumes:
      - "{{ volumes_root }}/funkwhale:/data"
      - "{{ storage_dir }}/Music:/data/music"
    ports:
      - "5000:80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.funkwhale.loadbalancer.server.scheme=http"
      - "traefik.http.services.funkwhale.loadbalancer.server.port=80"
      - "traefik.http.routers.funkwhale-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.funkwhale-http.entrypoints=http"
{% if not funkwhale.https_only %}
      - "traefik.http.routers.funkwhale-http.middlewares={% if funkwhale.https_only %}redirect@file, {% else %}{% if funkwhale.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.funkwhale-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.funkwhale.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.funkwhale.entrypoints=https"
      - "traefik.http.routers.funkwhale.middlewares={% if funkwhale.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.funkwhale.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.funkwhale.tls.certresolver=dns"
      - "traefik.http.routers.funkwhale.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.funkwhale.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.funkwhale.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.funkwhale-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.funkwhale-tor-http.entrypoints=http"
      - "traefik.http.routers.funkwhale-tor-http.middlewares={% if funkwhale.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}