---
version: '3'


networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: n8nio/n8n
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/n8n:/root/.n8n"
    environment:
      - GENERIC_TIMEZONE={{common_timezone}}
      - TZ={{common_timezone}}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.n8n.loadbalancer.server.scheme=http"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
      - "traefik.http.routers.n8n-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.n8n-http.entrypoints=http"
{% if not n8n.https_only %}
      - "traefik.http.routers.n8n-http.middlewares={% if n8n.https_only %}redirect@file, {% else %}{% if n8n.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.n8n-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.n8n.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.n8n.entrypoints=https"
      - "traefik.http.routers.n8n.middlewares={% if n8n.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.n8n.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.n8n.tls.certresolver=dns"
      - "traefik.http.routers.n8n.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.n8n.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.n8n.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.n8n-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.n8n-tor-http.entrypoints=http"
      - "traefik.http.routers.n8n-tor-http.middlewares={% if n8n.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}