---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: markusmcnugen/qbittorrentvpn
    privileged: true
    volumes:
      - "{{ volumes_root }}/qbittorrent/config:/config"
      - "{{ storage_dir }}/Downloads:/downloads"
    environment:
      - VPN_ENABLED={{ qbittorrent.vpn_enabled | lower }}
      - LAN_NETWORK={{ qbittorrent.lan_network }}
      - VPN_USERNAME={{ openvpn_username }}
      - VPN_PASSWORD={{ openvpn_password }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    ports:
      - '8999:8999'
      - '8999:8999/udp'
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.qbittorrent.loadbalancer.server.scheme=http"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.http.routers.qbittorrent-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.qbittorrent-http.entrypoints=http"
{% if not qbittorrent.https_only %}
      - "traefik.http.routers.qbittorrent-http.middlewares={% if qbittorrent.https_only %}redirect@file, {% else %}{% if qbittorrent.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.qbittorrent-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.qbittorrent.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.qbittorrent.entrypoints=https"
      - "traefik.http.routers.qbittorrent.middlewares={% if qbittorrent.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.qbittorrent.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.qbittorrent.tls.certresolver=dns"
      - "traefik.http.routers.qbittorrent.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.qbittorrent.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.qbittorrent.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.qbittorrent-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.qbittorrent-tor-http.entrypoints=http"
      - "traefik.http.routers.qbittorrent-tor-http.middlewares={% if qbittorrent.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
