---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Home Automation
  homeassistant:
    image: homeassistant/home-assistant
    volumes:
      - "{{ volumes_root }}/homeassistant:/config"
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8123:8123
      - 1883:1883
      # - 8080:8080
      - 51827:51827
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.homeassistant.loadbalancer.server.scheme=http"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"
      - "traefik.http.routers.homeassistant-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.homeassistant-http.entrypoints=http"
{% if not homeassistant.https_only %}
      - "traefik.http.routers.homeassistant-http.middlewares={% if homeassistant.https_only %}redirect@file, {% else %}{% if homeassistant.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.homeassistant-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.homeassistant.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.homeassistant.entrypoints=https"
      - "traefik.http.routers.homeassistant.middlewares={% if homeassistant.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.homeassistant.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.homeassistant.tls.certresolver=dns"
      - "traefik.http.routers.homeassistant.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.homeassistant.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.homeassistant.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.homeassistant-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.homeassistant-tor-http.entrypoints=http"
      - "traefik.http.routers.homeassistant-tor-http.middlewares={% if homeassistant.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
